  {% extends "base.html" %}
  {% block title %}Login{% endblock %}

  {% block  content %}
   <h1>Login</h1>
   {% if form.errors %}
   <p>
    please, check your username and password
   </p>
   {% else %}
   <p>
    Please,use the following form to Login.If you don't have an Account
    <a href="{% url 'register' %}">Register here</a>
   </p>
   {% endif %}
   <div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p>
         <input type="submit" value="Log-in">   
        </p>
    </form>
    <p>
    <a href="{% url 'password_reset' %}">
        Forgotten Your Password?
    </a>
</p>
   </div>
  {% endblock%}
